{% load static %}

<div class="col-12 col-md-6 col-xl-3 p-3">
  <div class="card h-100">
    {% if ice_cream.image %}
    <img src="{{ ice_cream.image.url }}" alt="" class="card-img-top img-fluid">
    {% else %}
    <img src="{% static '/img/tmb.png' %}" alt="" class="card-img-top img-fluid">
    {% endif %}
    <div class="card-body">
      <h5>{{ ice_cream.name }}</h5>
      <p>Ціна: {{ ice_cream.price }} грн.</p>
      <p>Кількість: {{ ice_cream.quantity }} шт.</p>
    </div>
    <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}" class="btn btn-success">
      Подробная информация
    </a>
  </div>
 </div>
</div>